h1{
    text-align: center;
}
h3{
    text-align: center;
    font-family: "Dubai Light";
}
a:link, a:visited {
    text-decoration: none;
    background-color: lightgreen;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}