table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: "Dubai Light";
}
.ba1{
    text-decoration: none;
    background-color: lightgreen;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}