img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-family: "Dubai Light";
}
h3{
    text-align: right;
    font-family: "Dubai Light";
}
#c1{
    text-align: center;

}
a:link, a:visited {
    text-decoration: none;
    background-color: lightgreen;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}