
.pink {
    display: flex;
    flex-direction: column;
    border: solid 7px #F5BE99;
    margin: 0px 150px 0px 150px;
}

.media {
    font-family: "Bahnschrift";
    color: #3F5664;
    display: flex;
    padding: 3px;
    border: solid 7px #7EA7BD;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.media:nth-of-type(odd) {
    flex-direction: row;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 40px;
}
.media:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
    margin-bottom: 10px;

}