body{
    background-color: gold;
}
img{
    width: 100%;
}
.img1{
    width: 100%;
    margin-top: auto;
    position relative;
    text-align: center;
}
.img2{
    width: 25%;
}
.h1div1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    font-family: "Comic Sans MS";
}
footer{
    background-color: #31373e;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
p{
    color: gold;
}
.gradient-text {
    font-family: 'Rubik One', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    background: linear-gradient(45deg, gold 22%, rebeccapurple 77%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 20px auto;
}