.div1{
    background-color: lightgreen;
    float: left;
    width: 32%;
    border-right: 7px solid black;
    height: 500px;
}
.div2{
    background-color: grey;
    float: left;
    width: 33%;
    border-right: 7px solid black;
    height: 500px;
}
.div3{
    background-color: lightgreen;
    float: right;
    width: 34%;
    height: 500px;
}

p{
    text-align: center;
}

h1{
    text-align: center;
}