body {
    font-family: Arial
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #445161;
}

.container {
    font-family: Arial;
}

@media (min-width: 992px) {
    .col-md-5, .col-md-6, .col-md-7 {
        float: left;
    }

    .col-md-7 {
        width: 54%;
    }
    .col-md-6 {
        width: 57%;
    }
    .col-md-5 {
        width: 43%;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .product {
        height: 323px;
        background-color: #445162;
    }

    .logo {
        margin-left: 70px;
        margin-top: 20px;
    }

    .logo h1 {
        color: #ffffff;
        font-size: 60px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 20px;
    }

    .logo p {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
    }

    .logo_box {
        float: right;
        margin-right: 50px;
        margin-top: 50px;
        background-color: white;
        width: 469px;
        height: 214px;
        vertical-align: center;
    }

    .about {
        height: 340px;
        background-color: white;
        margin-left: 0px;
        margin-top: 20px;
    }

    .about_block {
        margin-left: 70px;
        margin-top: 50px;
    }

    .about h1 {
        color: #445161;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        margin-bottom: 20px;
    }

    .about p {
        color: #333333;
        font-size: 16px;
        font-weight: 350px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 15px;
    }

    .about_box {
        float: right;
        margin-right: 50px;
        margin-top: 50px;
        background-color: #445161;
        width: 430px;
        height: 245px;
        vertical-align: center;
    }

    .contact h1 {
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
    }

    .contact {
        background-color: #445161;
    }

    .contact-form {
        margin-top: 10px;
        margin-bottom: 50px;
        width: 500px;
        float: right;
    }

    .contact-form input {
        width: 100%;
        border-radius: 5px;
        background-color: #ffffff;
        height: 40px;
        color: #445162;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        margin-bottom: 20px;
        text-indent: 10px;
    }

    .contact-form .submit {
        border-radius: 5px;
        background-color: #ffffff;
        width: 140px;
        height: 40px;
        color: #445162;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        text-indent: 0;
        display: block;
        margin: auto;
    }

    .contact-form textarea {
        border-radius: 5px;
        background-color: #ffffff;
        width: 100%;
        height: 170px;
        margin-bottom: 20px;
        color: #445162;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        text-indent: 10px;
    }

    .contact-buttons {
        margin-top: 10px;
        margin-left: 65px;
    }

    .contact-header {
        text-align: center;
        padding-top: 50px;
        background-color: #445161;

    }

    .contact {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    footer {
        width: 100%;
        height: 2%;
        background-color: #f5f5f5;
        clear: both;
        text-align: center;
        padding: 2px;
        float: bottom;
    }

    footer p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 24px;
        margin: 0;
    }
