/*red; background:blue; border: dotted, border-color:yellow, margin 5, padding 10;*/
/*image any link, border 10px, black, dashed rounded only bottom sides*/
/*image any link with width 50% and height 50%, border 10px, black, dashed rounded only bottom sides*/
/*lorem50 align-text center box-background aqua - margin and padding*/
h1 {
    color:red;
    box-sizing: border-box;
    font-size: 3em;
    font-family: "Fira Code Light";
    text-align: center;
    border: 1px dotted ;
    background-color: lightblue;
    border-color: yellow;
    opacity: 0.7;
                                      }
body{
    background-image:url("../images/raim.png");
    background-repeat:no-repeat;
    background-size: cover;
}
img{
    width:20%;
    height:20%;
    border: 5px double #fff1b0 ;
    background-color: #ff7c68;
    opacity:0.85;
}
p.pa{
    text-align: center;
    background-color:aquamarine;
    margin:30px;
    padding:10px;
}
p.pb{
    font-family: "Times New Roman";
    font-style: italic;
    text-align: center;

}
p.pc{
    font-family: Algerian;
    font-weight: bold;
    text-align: center;

}
p.pd{
    font-family: "Arial Narrow";
    text-decoration: underline;
    text-align: center;
}
h2{text-align: center;
    color:white;
}
h3{
    background-color: blanchedalmond;
    border: 1px solid black;
    text-indent: 1.5em;
}
li{
    list-style: none;
    color:white;
}
.space{
    letter-spacing: 5px;
    word-spacing: 10px;
}
.capital{
    text-transform: capitalize;
}
.lower{
    text-transform: lowercase;
}
.upper{
    text-transform: uppercase;
}
.line{
    line-height: 10;
}
.shadow{
    text-shadow: 5px 5px 0 black;
}

                                                                                                                                      <h2>text 2</h2>
                                                                                                                                                  <li class="space"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, placeat.</li>
                                                                                                                                                                                                                                                 <li class="capital">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laudantium!</li>
                                                                                                                                                                                                                                                                                                                                                     <li class="lower"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, praesentium.</li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                      <li class="upper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, reprehenderit.</li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <li class="line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perferendis.</li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <li class="shadow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, quia.</li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           </body>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </html>