.div1{
    width:45%;
    background-color: #d5d5cb;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: auto;
}
.top{
    display: grid;
    margin:10px;
    background-color: #699ad5;
    border: 1px solid blue;
}
.login{
    background-color: #699ad5;
}
.div3{
    display: grid;
}
.bottom{

}
*{
    box-sizing: border-box;
}
.grid{
    display: grid;
    width:50%;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 65px 1fr 1fr ;
}
div{
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: large;
    width: 50px;
    padding-top: 10px;
    height: 50px;
}
.kisl{
    background-color:  rgb(15, 121, 121);
}
.blue{
    background-color: lightskyblue;
}.red{
     background-color: red;

 }
.orange{
    background-color: peru;
}
.orange2{
    background-color: orange;
}
.lgreen{
    background-color: lightgreen;
}
.green{
    background-color: green;
}
.yel{
    background-color: yellowgreen;
}
.lbrow{
    background-color: burlywood;

}
.brow{
    background-color: brown;
}