*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
}

.grid {
    width: 40%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: lightgreen;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0;
}
.login {
    background-color: lightblue;
    opacity: 0.7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 15px;
}
.user, .password, .button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightcoral;
    opacity: 0.8;
    padding: 10px;
}
.button {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
input {
    grid-column: 2/4;
    border-radius: 5px;
    border: 1px solid #8fe2f0;
    font-size: 110%;
}
.but {
    color: white;
    background-color: #289eb2;
    grid-column: 2/3;
    font-size: 24px;
}
.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    align-items: center;
}
.border {
    border-left: 1px dotted #289eb2;
    padding-left: 10px;
    width: auto;
    height: auto;
}