.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



/*li a:hover {*/
/*    background-color: #111;*/
/*}*/
.navli{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navli:hover{
    background-color: #111;
}
h1{
    Float: left;
}
.navli2{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navli2:hover{
    background-color: gray
}
.ul2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.h21{
    text-align: center;
    color: black;
    font-family: "Dubai Light";
}
