.header {
    font-family: "Times New Roman";
    font-size: 14px;
    width: 45%;
    margin: auto;
    margin-top: 80px;
    line-height: 28px;
}

fieldset {
    border: groove 5px;
}
.button {
    width: 10%;
    padding-left: 20%;
    padding-bottom: 1%;
}

@media (min-width: 992px) {
    .col-md-5, .col-md-6 {
        float: left;
    }

    .col-md-6 {
        width: 20%;
    }

    .col-md-5 {
        width: 80%;
    }